version: '3'
services:
    webapp:
      container_name: "WebApp"
      build: 
        context: "./HappyNewYearCountDownWebApp"
        args:
          - VITE_HOST_API=http://localhost:3213/
      restart: always
      depends_on:
        - api
      ports:
        - "3214:80"
    api:
      container_name: "API"
      build: "./HappyNewYearCountDownAPI"
      restart: always
      ports:
        - "3213:8080"